body {
	background-image: url(assets/logo.png);
	background-repeat: repeat;	
}

@font-face {
    font-family: "Score Font";
    src: url(assets/ASTRAMT.TTF) format("truetype");
}

@font-face {
    font-family: "Score Font2";
    src: url(assets/ASTRAMO.TTF) format("truetype");
}

#game {
	padding: 5px;
	width: 900px; 
	height: 700px;
	_background-image: url(assets/background.png);
	background-repeat: repeat;
	background-color: rgba(0, 0, 0, 0.95);
	position: relative;
	left: 50%;
	margin-left: -450px;

}
