@font-face {
    font-family: 'pixelFont';
    src: url('../assets/fonts/victor-pixel.ttf') format("truetype");
}

body {
	background: #eee;
}

h1 {
    font-family: 'pixelFont';
    font-size: 30px;
    line-height: 40px;
    color: #000000;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.container {
    margin: 0 auto;
    width: 960px;
}

.game {
    position: relative;
    width: 960px;
    height: 600px;
}

#game_container {
    width: 960px;
    height: 600px;
    margin: 0 auto;
    margin-top: 20px;
}

.share {
    height: 40px;
    margin-bottom: 10px;
}

.fb-like {
    float: left;
    display: block;
    margin-top: 10px;
}