
#game_container {
    width: 960px;
    height: 600px;
    margin: 0 auto;
    margin-top: 20px;
}

@font-face {
    font-family: 'Starjhol';
    src: url('../assets/font/Starjhol.ttf') format("truetype");
}