#game_div {
    width: 900px;
    height: 600px;
    margin: 0 auto;
    margin-top: 0px;
}

body {
    background: #8B7E66;
}

p{
	margin: 5px 0;
}

.fb-like {
    display: block;
    margin-top: 10px;
}

.container {
    margin: 0 auto;
    width: 900px;
}

.credits {
    font-family: Verdana, sans-serif;
    color: #EEE9E9;
}