#game_div {
    width: 900px;
    height: 600px;
    margin: 0 auto;
    margin-top: 0px;
}

body {
    background: #000;
}

.container {
    margin: 0 auto;
    width: 960px;
}

.credits {
    font-family: Verdana, sans-serif;
    color: #f3b40b;
}