#game_div {
    width: 900px;
    height: 600px;
    margin: 0 auto;
    margin-top: 0px;
}

body {
    /*background: #edf7f7;*/
    background: #8B7E66;
}

p{  
	margin: 5px 0;
}

.fb-like {
    display: block;
    margin-top: 10px;
}

.container {
    margin: 0 auto;
    width: 900px;
}

.credits {
    font-family: Verdana, sans-serif;
    /*color: #6a6a6a;*/
    color: #EEE9E9;
}
a:link, a:visited {
    text-decoration: none;
    font-size:9pt;
}
a:hover {
    text-decoration: underline; 
    color: #f00;
    font-size:9pt;
}
a:active {
    text-decoration: none;
     font-size:9pt;
}