@charset "utf-8";
@font-face 
{
    font-family: Alégre Sans;
    src: url('../font/Alegre_Sans.ttf');
}

@media screen and (max-height : 700px ){
	html{ 
		zoom: 80%;
	}
}

html, body {
	margin:0px;
	padding:0px;
}

canvas {
	border:1px dashed #000000;
}

.menu{
	background-image: url('../assets/background_menu.jpg');
	width:1024px; 
	height:440px;
	padding-top:328px;
	border:1px solid #000000;
	font-family:Alégre Sans;
	font-size:30px;
	color:#8efffb;
}

.menu a{
	width:249px;
	height:106px;
	display:block; 
	margin-bottom:20px;
}

.btn-jogar{
	background-image: url('../assets/b_jogar.png');
	margin-top:50px;
}

.btn-jogar:hover{
	background-image: url('../assets/b_jogar2.png');
}

.btn-creditos{
	background-image: url('../assets/b_credito.png');
}

.btn-creditos:hover{
	background-image: url('../assets/b_credito2.png');
}

.btn-inicio{
	background-image: url('../assets/b_inicio.png');
}

.btn-inicio:hover{
	background-image: url('../assets/b_inicio2.png');
}