
/*
basic structure of the page
*/

body {
	background: #fff;
	margin: 0;
	padding:0;
}

.container {
	width: 100%;
	margin:0;
	padding:0;
	float:left;
	height:100%;
}

.site {
	width: 960px;
	margin: 0 auto;
	padding:0;
}

.facebooklike {
	margin: 0 0 0 800px;
}
