
body {
	background: #000000
}

canvas {
	display: block;
	margin: 0px auto;
	border: 1px solid #b1dce2;
 	background:url('../images/background.png')
}
			
@font-face {
	font-family: 'GreatLakesNF' ;
	src: url('../assets/grea_.ttf');
}
			
			

